<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
			"-//mybatis.org//DTD Config 3.0//EN"
			"https://mybatis.org/dtd/mybatis-3-config.dtd">
			
<configuration>
	<typeAliases>
		<typeAlias type="com.itbank.finalProject.model.HospitalDTO" alias="hospital" />
		<typeAlias type="com.itbank.finalProject.model.ReviewDTO" alias="review" />
		<typeAlias type="com.itbank.finalProject.model.MemberDTO" alias="member" />
		<typeAlias type="com.itbank.finalProject.model.ProfileDTO" alias="profile" />
		<typeAlias type="com.itbank.finalProject.model.BookingDTO" alias="booking"/>
		<typeAlias type="com.itbank.finalProject.model.SubLocationDTO" alias="sublocation"/>
		<typeAlias type="com.itbank.finalProject.model.HospitalTimeDTO" alias="hospital_time"/>
		<typeAlias type="com.itbank.finalProject.model.NotificationDTO" alias="notification"/>
		<typeAlias type="com.itbank.finalProject.model.FavoriteDTO" alias="favorite"/>
		<typeAlias type="com.itbank.finalProject.model.ChatRoomDTO" alias="chatRoom"/>
		<typeAlias type="com.itbank.finalProject.model.ChatHistoryDTO" alias="chatHistory"/>
	</typeAliases>
</configuration>